<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JP_Painter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JP_Painter.Properties.Settings>
            <setting name="CanvasWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="CanvasHeight" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="BgImageFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PointsMapperFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFreestyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorsFile" serializeAs="String">
                <value />
            </setting>
        </JP_Painter.Properties.Settings>
    </userSettings>
</configuration>